@charset "UTF-8";

.fn-hide {
  display: none;
}
.fl{
  float: left;
}
.fr {
  float: right;
}

.cfe-row {
  position: relative;
  box-sizing: border-box;
}

.cfe-col-1,.cfe-col-2,.cfe-col-3,.cfe-col-4,.cfe-col-5,.cfe-col-6,.cfe-col-7,.cfe-col-8,.cfe-col-9,.cfe-col-10,.cfe-col-11,.cfe-col-12,.cfe-col-13,.cfe-col-14,.cfe-col-15,.cfe-col-16,.cfe-col-17,.cfe-col-18,.cfe-col-19,.cfe-col-20,.cfe-col-21,.cfe-col-22,.cfe-col-23,.cfe-col-24 {
  float: left;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}

.cfe-col-1 {
  width: 4.16666667%
}

.cfe-col-2 {
  width: 8.33333333%
}

.cfe-col-3 {
  width: 12.5%
}

.cfe-col-4 {
  width: 16.66666667%
}

.cfe-col-6 {
  width: 25%;
}

.cfe-col-7 {
  width: 29.16666667%
}

.cfe-col-8 {
  width: 33.33333333%;
}

.cfe-col-9 {
  display: block;
  width: 37.5%
}

.cfe-col-10 {
  width: 41.66666667%
}

.cfe-col-11 {
  width: 45.83333333%
}

.cfe-col-12 {
  width: 50%;
}

.cfe-col-13 {
  width: 54.16666667%
}

.cfe-col-14 {
  width: 58.33333333%
}

.cfe-col-15 {
  width: 62.5%
}

.cfe-col-16 {
  width: 50%;
}

.cfe-col-17 {
  width: 70.83333333%
}

.cfe-col-18 {
  width: 75%
}

.cfe-col-19 {
  width: 79.16666667%
}

.cfe-col-20 {
  width: 83.33333333%
}

.cfe-col-21 {
  width: 87.5%
}

.cfe-col-22 {
  width: 91.66666667%
}

.cfe-col-23 {
  width: 95.83333333%
}

.cfe-col-24 {
  width: 100%
}

.wrapper-container {
  height: 100%;
  section {
    height: inherit;
    overflow: hidden;
    &.is-scrollable {
      overflow: auto;
    }
  }
  .content {
    padding-top: 50px;
    min-height: 100px;
  }
}

.content {
  hr {
    border: 0;
    border-bottom: 1px solid #f0f0f0;
  }
  p {
    font-size: 14px;
    color: #5e6d82;
    line-height: 1.5em;
  }
  pre {
    line-height: 1.8;
    font-size:14px;
    font-family: Menlo, Monaco, Consolas, Courier, monospace;
    padding: 18px 24px;
    background-color: #f9fafc;
    border: solid 1px #eaeefb;
    margin-bottom: 25px;
    border-radius: 4px;
    -webkit-font-smoothing: auto;
  }
}

.wrapper-container {
	background: #fff;
	width: 90%;
  height:100%;
	margin: 30px auto 20px;
  padding: 20px 0;
	border-radius: 6px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

.fn-clear::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.wrapper-navigate {
	display: block;
	width: 16.66666667%;
}

.wrapper-content {
  padding: 0 40px 120px;
  margin-left: -1px;
  min-height: 500px;
  overflow: hidden;
  border-left: 1px solid #e9e9e9;
}

.table-container {
  .table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    color: #5e6d82;
    font-size: 14px;
    margin-bottom: 45px;
    line-height: 1.5em;
    th, td {
      vertical-align: top;
      border: 1px solid #eee;
      text-align: left;
      padding: 8px;
      color: #656b79;
    }
    th {
      font-weight: bold;
      background-color: #f4f5f7;
    }
  }
}
.cfe-article {
  h1 {
    font-size: 26px;
    font-weight: 400;
  }
  p {
    margin: 5px;
    font-size: 15px;
  }
  a {
    color: #2d8cf0;
  }
  ul {
    padding-left: 40px;
    list-style-type: disc;
    li {
      margin-bottom: 5px;
      font-size: 15px;
    }
  }
}
